.subscribe {
    text-align: center;
    padding: 36px 0 32px;
    position: relative;
    .subscribe-result {
        position: absolute;
        bottom: 10px;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
    }
}
.form {
    @include center-all;
    :-ms-input-placeholder {
        font-size: 1.2rem;
        color: $color_white;
    }
    ::-moz-placeholder {
        font-size: 1.2rem;
        color: $color_white;
    }
    ::-webkit-input-placeholder {
        font-size: 1.2rem;
        color: $color_white;
    }
    .field {
        padding: 0 13px;
        border-radius:5px;
        height: 40px;
        @include center-all;
        border-width: 1px;
        border-style: solid;
        &:focus {
            border-color: $color_main;
        }
    }
    .submit {
        line-height: 1;
        height: 40px;
        position: relative;
        border-radius:5px;
        background:$color_main;
        text-transform: uppercase;
        color: $color_white;
        padding: 0 14px;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
            border: 1px solid $color_main;
            background:$color_white;
            color: $color_main;
        }
    }
}
.subscribe-form {
    margin-top: 22px;
    .field {
        background:#b3b3b3;
        color:$color_white;
        width: 288px;
        border-color: transparent;
    }
    .submit {
        margin-left: 7px;
    }
}