.experience {
    position: relative;
    .title {
        padding: 40px 0 15px;
    }
    .content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 33px;
        flex-direction: column;
        @include breakpoint(min-width 600px) {
            flex-direction: row;
        }
    }
    .button-wrap {
        width: 70%;
        padding-bottom: 7px;
        align-self: flex-end;
        text-align: right;
        margin-top:20px;
        @include breakpoint(min-width 600px) {
            margin-top:0px;
        }
    }
    .video-slider {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: 374px;
        position: relative;
        @include breakpoint(min-width 768px) {
            height: 393px;
        }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width:100%;
                bottom: 0;
                height: 72px;
                margin: 0 auto;
                background:transparentize($color_main, .2);
                @include breakpoint(min-width 768px) {
                    margin-left: calc((-720px / 1.05) / 2);
                    @include adaptiveWidth();
                    left: 50%;
                }
                @include breakpoint(min-width 992px) {
                    margin-left: calc((-938px / 1.05) / 2);
                }
            }
            .item {
                background-color:$color_black;
                height: 100%;
                @include breakpoint(min-width 768px) {
                    &::before {
                        content:'';
                        position: absolute;
                        top:0;
                        left:0;
                        z-index: 0;
                        width: 120%;
                        height: 100%;
                        background: transparentize($color_black, .925);
                    }
                }
            }
            .image {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .image1 {
                background-image: url(../images/image.jpg);
                
            }
            .image2 {
                background-image: url(../images/bg-left.jpg);
                
            }
            .image3 {
                background-image: url(../images/bg-right.jpg);
                
            }
            .image4 {
                background-image: url(../images/intro1.jpg);
                
            }
        .video {
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: bottom;
        }
     }
 }
 @keyframes size {
    from {
        @include breakpoint(max-width 767px) {
           // width: 300px;
           width: 100%;
        }
        @include breakpoint(min-width 768px) {
            width:720px;
        }
        @include breakpoint(min-width 992px) {
            width:938px;
        }
    }
    to {
        @include breakpoint(max-width 767px) {
            width: 100%;
        }
        @include breakpoint(min-width 768px) {
            width:calc(720px / 1.05);
        }
        @include breakpoint(min-width 992px) {
            width:calc(938px / 1.05);
        }
    }
} 
@keyframes show {
    from {
        transform: scale(1);
        opacity: .5;
    }
    to {
        opacity: 1;
        transform: scale(1.05);
    }
}