/*font*/
@font-face {
  font-family: 'GothamCondensedBold';
  src: url('../fonts/GothamCondensed/Bold/GothamCondensedBold.eot?v=4.6.2');
  src: url('../fonts/GothamCondensed/Bold/GothamCondensedBold.eot?#iefix&v=4.6.2') format('embedded-opentype'),
  url('../fonts/GothamCondensed/Bold/GothamCondensedBold.woff2?v=4.6.2') format('woff2'),
  url('../fonts/GothamCondensed/Bold/GothamCondensedBold.woff?v=4.6.2') format('woff'),
  url('../fonts/GothamCondensed/Bold/GothamCondensedBold.ttf?v=4.6.2') format('truetype'),
  url('../fonts/GothamCondensed/Bold/GothamCondensedBold.svg?v=4.6.2#gothamCondensedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StagSans-Bold';
  src: url('../fonts/StagSans/Bold/StagSans-Bold.eot?v=4.6.2');
  src: url('../fonts/StagSans/Bold/StagSans-Bold.eot?#iefix&v=4.6.2') format('embedded-opentype'),
  url('../fonts/StagSans/Bold/StagSans-Bold.woff2?v=4.6.2') format('woff2'),
  url('../fonts/StagSans/Bold/StagSans-Bold.woff?v=4.6.2') format('woff'),
  url('../fonts/StagSans/Bold/StagSans-Bold.ttf?v=4.6.2') format('truetype'),
  url('../fonts/StagSans/Bold/StagSans-Bold.svg?v=4.6.2#stagSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StagSans-Book';
  src: url('../fonts/StagSans/Book/StagSans-Book.eot?v=4.6.2');
  src: url('../fonts/StagSans/Book/StagSans-Book.eot?#iefix&v=4.6.2') format('embedded-opentype'),
  url('../fonts/StagSans/Book/StagSans-Book.woff2?v=4.6.2') format('woff2'),
  url('../fonts/StagSans/Book/StagSans-Book.woff?v=4.6.2') format('woff'),
  url('../fonts/StagSans/Book/StagSans-Book.ttf?v=4.6.2') format('truetype'),
  url('../fonts/StagSans/Book/StagSans-Book.svg?v=4.6.2#stagSansBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StagSans-Book';
  src: url('../fonts/StagSans/Book/StagSans-Book.eot?v=4.6.2');
  src: url('../fonts/StagSans/Book/StagSans-Book.eot?#iefix&v=4.6.2') format('embedded-opentype'),
  url('../fonts/StagSans/Book/StagSans-Book.woff2?v=4.6.2') format('woff2'),
  url('../fonts/StagSans/Book/StagSans-Book.woff?v=4.6.2') format('woff'),
  url('../fonts/StagSans/Book/StagSans-Book.ttf?v=4.6.2') format('truetype'),
  url('../fonts/StagSans/Book/StagSans-Book.svg?v=4.6.2#stagSansBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StagSans-Light';
  src: url('../fonts/StagSans/Light/StagSans-Light.eot?v=4.6.2');
  src: url('../fonts/StagSans/Light/StagSans-Light.eot?#iefix&v=4.6.2') format('embedded-opentype'),
  url('../fonts/StagSans/Light/StagSans-Light.woff2?v=4.6.2') format('woff2'),
  url('../fonts/StagSans/Light/StagSans-Light.woff?v=4.6.2') format('woff'),
  url('../fonts/StagSans/Light/StagSans-Light.ttf?v=4.6.2') format('truetype'),
  url('../fonts/StagSans/Light/StagSans-Light.svg?v=4.6.2#stagSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StagSans-Medium';
  src: url('../fonts/StagSans/Medium/StagSans-Medium.eot?v=4.6.2');
  src: url('../fonts/StagSans/Medium/StagSans-Medium.eot?#iefix&v=4.6.2') format('embedded-opentype'),
  url('../fonts/StagSans/Medium/StagSans-Medium.woff2?v=4.6.2') format('woff2'),
  url('../fonts/StagSans/Medium/StagSans-Medium.woff?v=4.6.2') format('woff'),
  url('../fonts/StagSans/Medium/StagSans-Medium.ttf?v=4.6.2') format('truetype'),
  url('../fonts/StagSans/Medium/StagSans-Medium.svg?v=4.6.2#stagSansMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StagSans-Semibold';
  src: url('../fonts/StagSans/Semibold/StagSans-Semibold.eot?v=4.6.2');
  src: url('../fonts/StagSans/Semibold/StagSans-Semibold.eot?#iefix&v=4.6.2') format('embedded-opentype'),
  url('../fonts/StagSans/Semibold/StagSans-Semibold.woff2?v=4.6.2') format('woff2'),
  url('../fonts/StagSans/Semibold/StagSans-Semibold.woff?v=4.6.2') format('woff'),
  url('../fonts/StagSans/Semibold/StagSans-Semibold.ttf?v=4.6.2') format('truetype'),
  url('../fonts/StagSans/Semibold/StagSans-Semibold.svg?v=4.6.2#stagSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StagSans-Thin';
  src: url('../fonts/StagSans/Thin/StagSans-Thin.eot?v=4.6.2');
  src: url('../fonts/StagSans/Thin/StagSans-Thin.eot?#iefix&v=4.6.2') format('embedded-opentype'),
  url('../fonts/StagSans/Thin/StagSans-Thin.woff2?v=4.6.2') format('woff2'),
  url('../fonts/StagSans/Thin/StagSans-Thin.woff?v=4.6.2') format('woff'),
  url('../fonts/StagSans/Thin/StagSans-Thin.ttf?v=4.6.2') format('truetype'),
  url('../fonts/StagSans/Thin/StagSans-Thin.svg?v=4.6.2#stagSansThin') format('svg');
  font-weight: normal;
  font-style: normal;
}