.slick-list {
    display: flex;
}
.slick-track {
    display: flex;
    align-items: stretch;
}
.slick-slide {
    &>div {
        height: 100%;
    }
}
.upcoming-events {
    .slick-list {
        margin: 0 -5px;
        display: flex;
    }
}
.event-arrow,
.slick-dots {
    position: absolute;
    top:0;
    right: 0;
    margin-top: -50px;
}
.event-arrow {
    width: 10px;
    height: 15px;
    transition: none; 
    &:hover {
        transition: none;
    }
    &.prev-button {
        right: 0;
        padding-right: 10px;
        @include sprites-ico(285px, -553px);
        &:hover {
            background-position-x: 254px;
        }
    }
    &.next-button {
        padding-left: 10px;
        @include sprites-ico(284px, -578px);
        &:hover {
            background-position-x: 253px;
        }
    }    
}
.video-slider {
    height: 100%;
    &>div {
        height: 100%;
    }
} 
.video-arrow {
    width: 10px;
    height: 16px;
    position: absolute;
    bottom: 28px;
    @include center-all;
    z-index: 1;
    &::before {
        z-index: 2;
        width: 10px;
        height: 16px;
        content: '';
        position: absolute;
        right:0;
    }
    &::after {
        content:'';
        position: absolute;
        height: 72px;
        width:68px;
        background:$color_main;
    }
    &:hover {
        &.prev-button::before,
        &.next-button::before {
            background-position-x: 254px;
        }    
        &::after {
            transition: background .3s;
            background:$color_white;
        }
    } 
    &.prev-button {
        left: 29px;
        &::before {
            left:0;
            @include sprites-ico(285px, -603px);
        }
    }
    &.next-button {
        right: 29px;
        &::before {
            right:0;
            @include sprites-ico(285px, -629px);
        }
    }
}    
.slick-dots {
    margin-right: 20px;
    max-width: 75%;
    overflow: hidden;
    @include center-v;
}
.slick-dots-item {
    width: 10px;
    height: 10px;
    border:1px solid #3f3f3f;
    margin:0 7px;
    &:hover {
        background: transparentize(#3f3f3f, .8)
    }
    .slick-active & {
        background: #3f3f3f;
    }
}
