.events-slider {
    .slick-list {
        margin: 0 -5px;
    }
    .slick-slide {
        flex: 0 0 auto;
    } 
}
.slick-slide {
    flex: 0 0 auto;
} 

.slick-list {
    display: flex;
}
.slick-track {
    display: flex;
}
.slick-slide {
    height: auto;
    &>div {
        height: 100%;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
    will-change: all;
}
.event-arrow,
.slick-dots {
    position: absolute;
    top:0;
    right: 0;
    margin-top: -50px;
}
.event-arrow {
    width: 10px;
    height: 15px;
    transition: none; 
    &:hover {
        transition: none;
    }
    &.prev-button {
        right: 0;
        padding-right: 10px;
        @include sprites-ico(285px, -553px);
        &:hover {
            background-position-x: 254px;
        }
    }
    &.next-button {
        padding-left: 10px;
        @include sprites-ico(284px, -578px);
        &:hover {
            background-position-x: 253px;
        }
    }    
}
.experience {
    .video-slider {
        &>div {
            height: 100%;
        }
        .slick-list {
            overflow:visible;
            align-items: center;
            @include breakpoint(max-width 767px) {
                width: 100%;
            }
        }
        .slick-slide {
            height: 373px;
            @include breakpoint(max-width 767px) {
                width:100%;
            }
            @include breakpoint(min-width 768px) {
                width:calc(720px / 1.05);
            }
            @include breakpoint(min-width 992px) {
                width:calc(938px / 1.05);
            }
        }
        .slick-track {
            display: flex;
            align-items: center;
        }
        .slick-center {
            animation: size .3s ease-out both;
              .item {
                position: relative;
                z-index: 1;
                display: flex;
                align-items: center;
                
                animation: show .3s ease-out both;

                &::before {
                    display: none;
                }
                &::after {
                    content:'';
                    position: absolute;
                    top:0;
                    left:0;
                    width: 100%;
                    height: calc(99% - 65px);
                    margin-top: 35px;
                    z-index: -1;
                    box-shadow: 0 0px 15px 20px transparentize($color_black, .6);
                }
            }
    } 
}
}
.video-arrow {
    width: 10px;
    height: 16px;
    position: absolute;
    bottom: 28px;
    @include center-all;
    z-index: 1;
    &::before {
        top:0;
        z-index: 2;
        width: 10px;
        height: 16px;
        content: '';
        position: absolute;
        right:0;
    }
    &::after {
        top:50%;
        content:'';
        position: absolute;
        height: 72px;
        width:68px;
        margin-top: calc(-72px / 2);
        background:$color_main;
    }
    &:hover {
        &.prev-button::before,
        &.next-button::before {
            background-position-x: 254px;
        }    
        &::after {
            transition: background .3s;
            background:$color_white;
        }
    } 
    &.prev-button {
        left: 50%;
        &::after {
            left:50%;
            margin-left:calc(-68px / 2);
        }
        @include breakpoint(max-width 767px) {
            left: 0;
        }
        @include marginForArrow('left');
        &::before {
            left:0;
            @include sprites-ico(285px, -603px);
        }
    }
    &.next-button {
        right: 50%;
        &::after {
            right:50%;
            margin-right:calc(-68px / 2);
        }
       @include breakpoint(max-width 767px) {
            right: 0;
       }
       @include marginForArrow('right');
        &::before {
            right:0;
            @include sprites-ico(285px, -629px);
        }
    }
}    
.slick-dots {
    margin-right: 20px;
    max-width: 75%;
    overflow: hidden;
    @include center-v;
}
.slick-dots-item {
    width: 10px;
    height: 10px;
    border:1px solid #3f3f3f;
    margin:0 7px;
    &:hover {
        background: transparentize(#3f3f3f, .8)
    }
    .slick-active & {
        background: #3f3f3f;
    }
}
