@mixin center-all {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @mixin center-h {
    display: flex;
    justify-content: center;
  }
  @mixin center-v {
    display: flex;
    align-items: center;
  }
  @mixin sprites-ico($x, $y) {
    background: url(../images/ico-sprites.png);
    background-position: $x $y;
  }
  @mixin sprites-social($x, $y) {
    background: url(../images/social-sprites.png);
    background-position: $x $y;
  }
  @mixin adaptiveWidth {
    @include breakpoint(max-width 767px) {
      width: 100%;
    }
    @include breakpoint(min-width 768px) {
      width:calc(720px / 1.05);
    }
    @include breakpoint(min-width 992px) {
      width:calc(938px / 1.05);
    }
}
@mixin marginForArrow($side){
  @if  $side == 'left' {
    @include breakpoint(max-width 767px) {
      margin-left: 29px;
    }
    @include breakpoint(min-width 768px) {
      margin-left:calc(((-720px / 1.05) / 2) + 1.15rem);
    }
    @include breakpoint(min-width 992px) {
      margin-left:calc(((-938px / 1.05) / 2) + 0.66rem);
    }
  }
  @if  $side == 'right'{
    @include breakpoint(max-width 767px) {
      margin-right: 29px;
    }
    @include breakpoint(min-width 768px) {
      margin-right:calc(((-720px / 1.05) / 2) + 1.05rem);
    }
    @include breakpoint(min-width 992px) {
      margin-right:calc(((-938px/ 1.05) / 2) + 0.6rem);
    }
  }
}