$color_white:#ffffff;
$color_black:#000000;
$color_gray: #f6f6f6;
$color_blue:#024b78;

$color_main:$color_blue;
$color_secondary:$color_gray;

$color_blue_80:transparentize($color_blue,.2);

$font_SSBL:'StagSans-Bold', sans-serif;
$font_SSSBL: 'StagSans-Semibold', sans-serif;
$font_SSBK: 'StagSans-Book', sans-serif;
$font_SSL: 'StagSans-Light', sans-serif;
$font_SSM: 'StagSans-Medium', sans-serif;
$font_SST: 'StagSans-Thin', sans-serif;
$font_GCBL:'GothamCondensed-Bold', sans-serif;