.custom-packages {
    text-align: center;
    background: #e6e6e6 url(../images/custom.jpg) center no-repeat;
    background-size: cover;
    padding: 39px 0;
    .content {
        color:#3f3f3f;
        font-size: 1.2rem;
        padding: 14px 0 20px;
        width: 50%;
        margin:0 auto;
    }
}