.common-info {
    position: absolute;
    width: 100%;
    left:0;
    bottom: 90px;
    z-index: 2;
  }
  .common-info-wrap {
    display: flex;
    flex-direction: column;
    font-family: $font_SSBL;
    color:$color_white;
  }
  .packages-button {
    border: 1px solid $color_white;
    letter-spacing: .6px;
    text-transform: uppercase;
    padding: 17px 26px;
    border-radius:3px;
    align-self: flex-start;
    background: transparentize($color_white, .8);
    
    &:hover {
      background: $color_main;
      border-color:$color_main;
    }
  }
  .time-counter {
    display: flex;
    align-self: flex-end;
    margin-top: -15px;
    @include breakpoint(max-width 600px) {
      display: none;
    }
  }
  .counter-item {
    font-size: 1.45rem;
    @include center-all;
    flex-direction: column;
    margin-left: 12px;
    .count {
      @include center-h;
      font-family: $font_SSSBL;
      letter-spacing: 3px;
      padding: 8px 0;
      min-width: 48px;
      border-radius:3px;
      border: 1px solid transparentize($color_white, .5);
      background: transparentize($color_white, .7);
      margin-bottom: 10px;
      position: relative;
    }
    &:not(:last-of-type) {
      .count::after {
        content: ':';
        position: absolute;
        top:0;
        margin-left:6px; 
        left: 100%;
        width: 4px;
        height: 100%;
        @include center-v;
        overflow: hidden;
      }
    }
    .count-desc {
      text-transform: uppercase;
      font-size: 1rem;
      font-family: $font_SSM;
    }
  }
