@import "sub-partition";
@import "partition-content";
@import "common-info";
.intro-section {
    color:#2d2d2d;
    position: relative;
  }
  .partition-button {
    display: none;
    font-family: $font_SSBK;
    font-size: 1.44rem;
    background: $color_secondary;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width:11px;
      height: 8px;
    }
    @include breakpoint(max-width 600px) {
      height: 60px;
      @include center-all;
      width:100%;
    }
  }
  .sub-button {
    background: $color_blue_80;
    color: $color_white;
    text-transform: uppercase;
  }
  .tab-list {
    display: flex;
    @include breakpoint(max-width 600px) {
      flex-direction: column;
      transform: translateX(-100%);
      display: none;
      transition:  transform .3s,display .1s ;
    }
    &.open {
      transform: translateX(0);
      display: flex;
      transition:  transform .3s,display .1s;
    }
  }
  .tab-item {
    width: 25%;
    height: 60px;
    @include breakpoint(max-width 600px) {
      width: 100%;
    }
    &:hover {
      background: $color_blue_80;
      color:$color_white;
    }
    &:last-child > .partition-name-tab {
      border-right-width: 1px;
    }
  }
  .partition-tab-list {
    @include breakpoint(max-width 600px) {
      height: 0;
      &.open {
        height: 100%;
      }
    }
  }
  .partition-tab-item{
    & > .partition-name-tab {
      border-color:#ebebeb;
      font-size: 1.44rem;
      border-left:0;
      &:hover {
        border-color:$color_blue_80;
      }
    }
    .partition-tab-list &:last-child {
      width:96px;
    }
    @include breakpoint(max-width 600px) {
      .partition-tab-list &:last-child {
        width:100%;
      }
    }
  }
    .partition-name-tab {
      @include center-all;
      letter-spacing: 0.6px;
      height: 60px;
      cursor: pointer;
      user-select: none;
      border:1px;
      border-style: solid;
      transition: none;
      &:hover {
        transition: none;
      }
    }
    .partition-name-tab.active {
      background-color: $color_main;
      border-color:$color_main;
      color:$color_white;
    }
    input:checked ~ .partition-content {
      display: block;
    }
    .partition-content-list {
      position: relative;
      height: 500px;
    }
    .partition-content-item {
      display: flex;
      overflow: hidden;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
    }
    .tab-input {
      display: none;
    }
     .partition-content {
      display: none;
      width: 100%;
      background-color: $color_black;
    }
  .cart-button {
    background: #f3f3f3;
    height: 100%;
    width:100%;
    @include center-all;
    &:hover {
      background: $color_blue;
      .cart-button-icon {
        transition: none;
        background-position-x: -50px;
      }
    }
  }
  .cart-button-icon {
    height: 100%;
    width: 100%;
    justify-self: center;
    transition: none;
    display: block;
    width: 30px;
    height: 28px;
    @include sprites-ico(-10px, 274px);
  }
