.intro-section {
    color:#2d2d2d;
    position: relative;
  }
  .partition-tab {
    margin-right: 96px;
  }
    .partition-button {
    display: none;
    font-family: $font_SSBK;
    font-size: 1.44rem;
    background: $color_white;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width:11px;
      height: 8px;
    }
    &:hover {
      background: $color_main;
      color: $color_white;
    }
    @include breakpoint(max-width 600px) {
      height: 60px;
      @include center-all;
      width:100%;
    }
  }
  .tab-list {
    display: flex;
    &::after {
      content: "";
      clear: both;
      display: block;
      height: 240px;
    }
    @include breakpoint(max-width 600px) {
      flex-direction: column;
    }
  }
   .partition-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    overflow-y: auto;
    z-index: -1;
  }
  .main-content {
    height: 500px;
    z-index: 0;
  }
  .tab-item {
    width: 25%;
    height: 60px;
    @include breakpoint(max-width 600px) {
      width: 100%;
    }
    & > input {
      display: none;
    }
    & > .partition-name-tab {
      @include center-all;
      letter-spacing: 0.6px;
      height: 60px;
      cursor: pointer;
      user-select: none;
      border:1px;
      border-style: solid;
      @include breakpoint(max-width 600px) {
        transform: translateX(-200%);
        background: $color_white;
      }
      &:hover {
        background: $color_blue_80;
        color:$color_white;
      }
      &.open {
        transform: translateX(0);
      }
    }
    &:last-child > .partition-name-tab {
      border-right-width: 1px;
    }
    & > input:checked + .partition-name-tab {
      background-color: $color_main;
      border-color:$color_main;
      color:$color_white;
    }
    & > input:checked ~ .partition-content {
      display: block;
    }
  }
  .partition-tab-item{
    & > .partition-name-tab {
      border-color:#ebebeb;
      font-size: 1.44rem;
      border-left:0;
      &:hover {
        border-color:$color_blue_80;
      }
    }
  }
  .cart-button {
    background: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    width: 96px;
    @include center-all;
    height: 60px;
    &:hover {
      background: $color_blue;
      .cart-button-icon {
        transition: none;
        background-position-x: -50px;
      }
    }
  }
  .cart-button-icon {
    justify-self: center;
    transition: none;
    display: block;
    width: 30px;
    height: 28px;
    @include sprites-ico(-10px, 274px);
  }
  @import "sub-partition";
  @import "partition-content";