.partition1-thumbnail{
    background: url(../images/intro0.jpg) no-repeat;
    background-size: cover;
    background-position-y: 20%;
    color: $color-white;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color_black;
      opacity: .2;
      z-index: -1;
    }
}
.partition-info {
    padding-top: 95px;
    color:$color_white;
    font-family: $font_SSL;
  }
  .partition-date {
    font-size: 1.4rem;
  }
  .partition-title {
    font-family: $font_GCBL;
    font-size:5.8rem;
    text-transform: uppercase;
    padding: 23px 0;
  }
  .partition-autor {
    font-size: 1.8rem;
  }