.partition-subtab {
  position: absolute;
  bottom: 0;
  width: 100%;
  left:0;
  z-index: 3;
}
.partittion-subtad-wrap {
  display: flex;
  flex-direction: column-reverse;
}
.partition-subtab-list {
    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 60px;
      width: 100%;
      left: 0;
      bottom: 0;
      background: transparentize(#191919, 0.2);
      z-index: -1;
      @include breakpoint(max-width 600px) {
        height: 100%;
      }
    }
  }
.partition-content-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}
.partition-subtab-item {
    .link {
      border-left-width:1px;
      border-color:transparentize($color_white, 0.8);
    }
    &:last-child .link {
      border-right-width: 1px;
    }
    .partition-name-tab {
      color:$color_white;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
.subcontent-list {
  height: 100%;
}
