.upcoming-events  {
    background: $color_secondary;
    position: relative;
    padding-bottom: 40px;
    .title {
        padding: 37px 0;
    }
    .event-item-wrap {
        max-width: 305px;
    }
    .event-image-wrap {
        height: 243px;
        .event1 {
            background: url(../images/upcoming-events/evnt10.jpg);
        }
        .event2 {
            background: url(../images/upcoming-events/evnt20.jpg);
        }
        .event3 {
            background: url(../images/upcoming-events/evnt30.jpg);
        }
        .image {
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            filter: grayscale(100%);
        }
        .logo1 {
            background-image: url(../images/sport-logo/frozen-four-big.png);
        }
        .logo2 {
            background-image: url(../images/sport-logo/sprint-cup-big.png);
        }
        .logo3 {
            background-image: url(../images/sport-logo/2016-final-four-big.png);
        }
        .activity-buttons-wrap {
            position: absolute;
            top:0;
            left: 0;
            margin:13px;
            display: flex;
        }
        .activity-buttons {
            @include center-all;
            height: 35px;
            width: 35px;
            border-radius: 3px;
            border: 1px solid $color_white;
            background: transparentize($color_white, .8);
            &:hover {
                background: $color_white;
                .button-share,
                .button-like {
                    transition: none;
                    background-position-x: 33px;
                }        
            }
            &:not(:last-child) {
                margin-right: 6px;
            }
            .button {
                display: block;
                transition: none;
            }
            .button-share {
                width: 17px;
                height: 14px;
                @include sprites-ico(71px, -15px);
            }
            .button-like {
                width: 18px;
                height: 16px;
                @include sprites-ico(71px, -39px);
            }
        }
    }
    .event-info {
        color:#7f7f7f;
        padding: 15px 13px 0;
        .info {
            display: flex;
            justify-content: space-between;
        }
        .top-info {
            padding-bottom: 13px;
            border-bottom:1px solid #f0f0f0;
            margin-bottom:17px;
            .mark {
                text-transform: uppercase;
                font-family: $font_SSBL;
            }
        }
        .bottom-info {
            bottom: 25px;
            padding: 0 13px;
            .event-packages-button {
                text-transform: uppercase;
                @include center-h;
                &:hover {
                    color:$color_main;
                }
            }
        }
        .name {
            font-size: 1.7rem;
            padding-bottom: 55px;
        }
    }
}
